.navLink {
  .content {
    transition: transform 0.3s;
    animation-duration: 0.3s;
    animation-name: rotateAnimation;
    animation-timing-function: linear;
    animation-play-state: paused;
  }

  .icon{
    width: inherit;
    height: inherit;
  }

  &:hover .content {
    animation-play-state: running; /* Запуск анимации при ховере */
  }

  @keyframes rotateAnimation {
    from {
      transform: rotateY(0deg); /* Начальное значение вращения */
    }
    to {
      transform: rotateY(360deg); /* Конечное значение вращения */
    }
  }
}